<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <My_ToJson>
            <version>0.1.0</version>
        </My_ToJson>
    </modules>
    <global>
        <models>
            <tojson>
                <class>My_ToJson_Model_System_Config_Backend_Serialized</class>
            </tojson>
            <adminhtml>
                <rewrite>
                    <system_config_backend_serialized_array>My_ToJson_Model_System_Config_Backend_Serialized_Array</system_config_backend_serialized_array>
                </rewrite>
            </adminhtml>
        </models>
    </global>
</config>
